<section class="norcom-search" role="main">
    <div class="norcom-search--table-header">
        <form class="norcom-search--form form-inline" ng-submit="search()">
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="search"
                    placeholder="Enter search text..."
                    ng-model="searchForm.text"
                    ng-required="required"
                >
            </div>
            <div class="form-group">
                <select name="size" class="form-control"
                    ng-model="searchForm.size"
                    ng-required="required"
                >
                    <option ng-selected="true" value=10>Results Per Page (10)</option>
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=15>15</option>
                    <option value=20>20</option>
                </select>
            </div>
            <button
                type="submit"
                class="btn btn-default"
            >Search</button>
        </form>
    </div>

    <table class="norcom-search--table table table-striped">
        <thead>
            <th stlye="cursor: pointer !important" ng-click="sort('id')">Id
                <span ng-show="orderType['id']" class="droparrow">&caron;</span>
                <span ng-show="!orderType['id']" class="droparrow">^</span>
            </th>
            <th ng-click="sort('sender')">Sender
                <span ng-show="orderType['sender']" class="droparrow">&caron;</span>
                <span ng-show="!orderType['sender']" class="droparrow">^</span>
            </th>
            <th ng-click="sort('subject')">Subject
                <span ng-show="orderType['subject']" class="droparrow">&caron;</span>
                <span ng-show="!orderType['subject']" class="droparrow">^</span>
            </th>
            <th ng-click="sort('date')">Date
                <span ng-show="orderType['date']" class="droparrow">&caron;</span>
                <span ng-show="!orderType['date']" class="droparrow">^</span>
            </th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles | orderBy: orderField : orderType[orderField]">
                <td><a href="/api/article/{{article.getId()}}">{{article.getId()}}</a></td>
                <td>{{article.getSender()}}</td>
                <td>{{article.getSubject()}}</td>
                <td>{{article.getDate()}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <nav class="norcom-search--pagination" aria-label="Page navigation" ng-show="pagination.pages > 1">
        <ul class="pagination">
            <li ng-class="{disabled: pagination.current == 0}" >
                <span href="/" aria-label="Previous" ng-click="search(pagination.current - 1)">
                    <span aria-hidden="true">&laquo;</span>
                </span>
            </li>

            <li class="norcom-search--pagination-item"
                ng-class="{active: i == pagination.current}"
                ng-repeat="i in getNumber(pagination.pages)"><span ng-click="search(i)">{{i + 1}}</span>
            </li>

            <li ng-class="{disabled: pagination.current + 1 >= pagination.pages}">
                <span aria-label="Next" ng-click="search(pagination.current + 1)">
                    <span aria-hidden="true">&raquo;</span>
                </span>
            </li>
        </ul>
    </nav>

    <div ng-show="searchedOnce && articles.length == 0" class="norcom-search--warning alert alert-warning" role="alert">
        Unfortunately we could not find any documents matching your search term.
    </div>
</section>
