.norcom-search--table-header {
    margin-bottom: 30px;
}

.norcom-search--form button {
    margin-left: 10px;
}

.norcom-search--table {
    margin-top: 20px;

    thead {
        color: #64257E;
        font-size: 16px;
        cursor: pointer;
    }
}

.norcom-search--pagination {
    text-align: center;
}

.norcom-search--pagination ul li > span {
    cursor: pointer;
}

// Important required to override bootstrap defaults
.norcom-search--pagination-item  > span {
    color: #64257E !important;
}

// Important required to override bootstrap defaults
.norcom-search--pagination-item.active span {
    background-color: #64257E !important;
    border-color: #64257E;
    color: #fff !important;
}

.norcom-search--warning {
    width: 60%;
    margin: 0 auto;
    text-align: center
}
